# Server Configuration
PORT=5000
NODE_ENV=development

# MongoDB Connection String
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-address>/feast_forward?retryWrites=true&w=majority

# JWT Secrets
JWT_SECRET=928b2b3d-c5f4-4d18-b8a1-f1d5e3b76391
JWT_EXPIRE=30d

# Email Transporter (Nodemailer)
EMAIL_USER=dailyclgproject@gmail.com
EMAIL_PASS=wrbimcktkcejmipb
EMAIL_FROM=Daily <dailyclgproject@gmail.com>

# Razorpay Payment Gateway (Test Mode)
RAZORPAY_KEY_ID=rzp_test_TLXgSkf5lA607j
RAZORPAY_KEY_SECRET=Nv4EtrRQfJt5nLARCRMDmFog

# Frontend Client URL
CLIENT_URL=http://localhost:5173
VITE_API_URL=http://localhost:5000/api
